<div class="container-fluid">
  <form
    [formGroup]="address_details"
    aria-autocomplete="none"
    autocomplete="off"
  >
    <div class="row">
      <div class="card">
        <div class="card-header card-header-tabs card-header-info">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <h5 class="card-title">Address</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 ml-4 pt-1">
            <mat-form-field class="example-full-width">
              <mat-label>2.1 Flat / Room / Door / Block House No * </mat-label>
              <input
                id="address_no"
                formControlName="address_no"
                name="address_no"
                type="text"
                matInput
                placeholder="EC 2-401"
              />
              <mat-error *ngIf="address_details.get('address_no').hasError('required')">
                Address Lane 1 is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="offset-md-1 col-md-5 pt-1 pl-0">
            <mat-form-field class="example-full-width">
              <mat-label>2.2 Name of Premises Building * </mat-label>
              <input
                id="premises_building"
                formControlName="premises_building"
                name="premises_building"
                type="text"
                matInput
                placeholder="Ertiga."
              />
              <mat-error *ngIf="address_details.get('premises_building').hasError('required')">
                Address Lane 2 is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 ml-4 pt-1">
            <mat-form-field class="example-full-width">
              <mat-label>2.4 Area / Locality * </mat-label>
              <input
                id="locality"
                formControlName="locality"
                name="locality"
                type="text"
                matInput
                placeholder="MANPADA."
              />
              <mat-error *ngIf="address_details.get('locality').hasError('required')">
                Locality is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="offset-md-1 col-md-5 pt-1 pl-0">
            <mat-form-field class="example-full-width">
              <mat-label>2.5 Landmark </mat-label>
              <input
                id="landmark"
                formControlName="landmark"
                name="landmark"
                type="text"
                matInput
                placeholder="TIKUJNIWADI"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 ml-4 pt-1">
            <mat-form-field class="example-full-width">
              <mat-label>2.6 State / Union Territory </mat-label>
              <select
                id="state"
                formControlName="state"
                name="state"
                matNativeControl
              >
                <option value=""></option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
<option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
<option value="Arunachal Pradesh">Arunachal Pradesh</option>
<option value="Assam">Assam</option>
<option value="Bihar">Bihar</option>
<option value="Chandigarh">Chandigarh</option>
<option value="Chhattisgarh">Chhattisgarh</option>
<option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
<option value="Daman and Diu">Daman and Diu</option>
<option value="Delhi">Delhi</option>
<option value="Lakshadweep">Lakshadweep</option>
<option value="Puducherry">Puducherry</option>
<option value="Goa">Goa</option>
<option value="Gujarat">Gujarat</option>
<option value="Haryana">Haryana</option>
              </select>
              <mat-error *ngIf="address_details.get('state').hasError('required')">
                State is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="offset-md-1 col-md-5 pt-1 pl-0">
            <mat-form-field class="example-full-width">
              <mat-label>2.10 Pincode *</mat-label>
              <input
                id="pincode"
                formControlName="pincode"
                name="pincode"
                type="text"
                matInput
                placeholder="560077"
                pattern="\d+"
              />
              <mat-error *ngIf="address_details.get('pincode').hasError('required')">
                Pincode is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="address_details.get('pincode').hasError('pattern')">
                Enter only Number
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6 text-left">
        <button class="btn btn-info btn-round " (click)="functionPrevious()">Previous</button>
      </div>
      <div class="col-md-6 text-right ">
        <button class="btn btn-info btn-round "(click)="addaddress_details()">Save and Continue</button>
      </div>
    </div>
  </form>
</div>

