
<div class="container-fluid">
    <div class="row">
        <div class="card">
            <div class="card-header card-header-tabs card-header-info" >
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                  <h5 class="card-title"> Address</h5>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 ml-5 pt-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>2.1 Flat / Room / Door / Block House No *  </mat-label>
                    <input type="text" matInput  placeholder="EC 2-401">
                    </mat-form-field>
                </div>
                <div class="offset-md-1 col-md-5 pt-3 pl-0">
                  <mat-form-field class="example-full-width">
                      <mat-label>2.2 Name of Premises Building *  </mat-label>
                      <input type="text" matInput  placeholder="Ertiga.">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 ml-5 pt-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>2.3 Road / Street / Lane / Post Office *  </mat-label>
                      <input type="text" matInput  placeholder="MULLA BAGH">
                      </mat-form-field>
                  </div>
                  <div class="offset-md-1 col-md-5 pt-3 pl-0">
                    <mat-form-field class="example-full-width">
                        <mat-label>2.4 Area / Locality *  </mat-label>
                        <input type="text" matInput  placeholder="MANPADA.">
                      </mat-form-field>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-5 ml-5 pt-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>2.5 Landmark  </mat-label>
                      <input type="text" matInput  placeholder="TIKUJNIWADI">
                      </mat-form-field>
                  </div>
                  <div class="offset-md-1 col-md-5 pt-3 pl-0">
                    <mat-form-field class="example-full-width">
                        <mat-label>2.6 State / Union Territory </mat-label>
                          <select matNativeControl required>
                            <option value=""></option>
                            <option value="Shrimati">Shrimati</option>
                            <option value="Shri">Shri</option>     
                          </select>
                      </mat-form-field>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-5 ml-5 pt-3">
                    <mat-form-field class="example-full-width">
                        <mat-label>2.7 District  </mat-label>
                          <select matNativeControl required>
                            <option value=""></option>
                            <option value="Shrimati">Shrimati</option>
                            <option value="Shri">Shri</option>     
                          </select>
                      </mat-form-field>
                  </div>
                  <div class="offset-md-1 col-md-5 pt-3 pl-0">
                    <mat-form-field class="example-full-width">
                        <mat-label>2.8 Taluka  </mat-label>
                          <select matNativeControl required>
                            <option value=""></option>
                            <option value="Shrimati">Shrimati</option>
                            <option value="Shri">Shri</option>     
                          </select>
                      </mat-form-field>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-5 ml-5 pt-3">
                    <mat-form-field class="example-full-width">
                        <mat-label>2.9 District  </mat-label>
                          <select matNativeControl required>
                            <option value=""></option>
                            <option value="Shrimati">Shrimati</option>
                            <option value="Shri">Shri</option>     
                          </select>
                      </mat-form-field>
                  </div>
                  <div class="offset-md-1 col-md-5 pt-3 pl-0">
                    <mat-form-field class="example-full-width">
                        <mat-label>2.10 Pincode *</mat-label>
                        <input type="text" matInput  placeholder="XYZ ZZ XYZ">
                      </mat-form-field>
                  </div>
              </div>
          </div>
    </div>
</div>

