<div class="container-fluid">
  <form [formGroup]="other_details" aria-autocomplete="none" autocomplete="off">
    <div class="row">
      <div class="card">
        <div class="card-header card-header-tabs card-header-info">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <h5 class="card-title">Other Details</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 ml-4 pt-1">
            <mat-form-field class="example-full-width">
              <mat-label
                >3.1 Does the candidate himself is an ex-serviceman of the
                regular Armed Forces?
              </mat-label>
              <select
                id="ex_serviceman"
                formControlName="ex_serviceman"
                name="ex_serviceman"
                matNativeControl
              >
                <option value=""></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
              <mat-error *ngIf="other_details.get('ex_serviceman').hasError('required')">
                Response is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="offset-md-1 col-md-5 pt-1 pl-0">
            <mat-form-field class="example-full-width">
              <mat-label
                >3.1.1 If the candidate himself is an Ex-serviceman, divison of
                the Armed Forces
              </mat-label>
              <select
                id="ex_serviceman_division"
                formControlName="ex_serviceman_division"
                name="ex_serviceman_division"
                matNativeControl
                required
              >
                <option value=""></option>
                <option value="Indian Navy">Indian Navy</option>
                <option value="Indian Army">Indian Army</option>
                <option value="Indian Air Force">Indian Air Force</option>
              </select>
              <mat-error *ngIf="other_details.get('ex_serviceman_division').hasError('required')">
                Response is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 ml-4 pt-1">
            <mat-form-field class="example-full-width">
              <mat-label
                >1.2 Date of appointment in regular Armed Forces</mat-label
              >
              <input
                id="date_of_appointment"
                formControlName="date_of_appointment"
                name="date_of_appointment"
                type="date"
                matInput
                placeholder="31/12/2021"
              />
            </mat-form-field>
          </div>
          <div class="offset-md-1 col-md-5 pt-1 pl-0">
            <mat-form-field class="example-full-width">
              <mat-label
                >3.1.3 Date of retirement (Discharge) in regular Armed
                Forces</mat-label
              >
              <input
                id="date_of_retirement"
                formControlName="date_of_retirement"
                name="date_of_retirement"
                type="date"
                matInput
                placeholder="31/12/2021"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 ml-4 pt-1">
            <mat-form-field class="example-full-width">
              <mat-label>3.1.4 Discharge certificate number</mat-label>
              <input
                id="certificate_no"
                formControlName="certificate_no"
                name="certificate_no"
                type="text"
                matInput
                placeholder="1234"
              />
            </mat-form-field>
          </div>
          <div class="offset-md-1 col-md-5 pt-1 pl-0">
            <mat-form-field class="example-full-width">
              <mat-label>3.5 Are you a Meritorious Sports Person? </mat-label>
              <select
                id="sports_person"
                formControlName="sports_person"
                name="sports_person"
                matNativeControl
              >
                <option value=""></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
              <mat-error *ngIf="other_details.get('sports_person').hasError('required')">
                Response is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6 text-left">
        <button class="btn btn-info btn-round " (click)="functionPrevious()">Previous</button>
      </div>
      <div class="col-md-6 text-right ">
        <button class="btn btn-info btn-round " (click)="addother_details()">Save and Continue</button>
      </div>
    </div>
  </form>
</div>
