


<div class="wrapper ">
  <div class="sidebar" data-color="azure" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <div class="logo"><a href="https://flixirsolutions.com/" class="simple-text logo-normal">
        Test Company
      </a></div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item active  ">
          <a class="nav-link" >
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" >
            <i class="material-icons">file_copy</i>
            <p>Reports</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" >
            <i class="material-icons">settings</i>
            <p>Setting</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" >
            <i class="material-icons">laptop</i>
            <p>Change Password</p>
          </a>
        </li>
        <li class="nav-item ">
          <a href="login" class="nav-link" >
            <i class="material-icons">logout</i>
            <p>Logout</p>
          </a>
        </li>
        <li class="nav-item active-pro ">
          <a class="nav-link" >
            <!-- <i class="material-icons">unarchive</i> -->
            <p> &copy;2020 Test Company</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="javascript:;">Dashboard</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
          <form class="navbar-form">
            <div class="input-group no-border">
              <input type="text" value="" class="form-control" placeholder="Search...">
              <button type="submit" class="btn btn-white btn-round btn-just-icon">
                <i class="material-icons">search</i>
                <div class="ripple-container"></div>
              </button>
            </div>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="javascript:;">
                <i class="material-icons">dashboard</i>
                <p class="d-lg-none d-md-block">
                  Stats
                </p>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">notifications</i>
                <span class="notification">5</span>
                <p class="d-lg-none d-md-block">
                  Some Actions
                </p>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Mike John responded to your email</a>
                <a class="dropdown-item" href="#">You have 5 new tasks</a>
                <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                <a class="dropdown-item" href="#">Another Notification</a>
                <a class="dropdown-item" href="#">Another One</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">person</i>
                <p class="d-lg-none d-md-block">
                  Account
                </p>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Log out</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">
        <div class="row"> 
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">store</i>
                </div>
                <p class="card-category">Running Gensets</p>
                <h3 class="card-title">0/150</h3>
              </div>
              <div class="card-footer text-left">
                <div class="stats">
                  More info<i class="material-icons">arrow_circle_down</i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">content_copy</i>
                </div>
                <p class="card-category">Stopped Gensets</p>
                <h3 class="card-title">150/150
                  <!-- <small>GB</small> -->
                </h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  More info<i class="material-icons">arrow_circle_down</i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">alarm</i>
                </div>
                <p class="card-category">Alarms</p>
                <h3 class="card-title">25</h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  More info<i class="material-icons">arrow_circle_down</i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">warning</i>
                </div>
                <p class="card-category">Alert</p>
                <h3 class="card-title">65</h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  More info<i class="material-icons">arrow_circle_down</i>
                </div>
              </div>
            </div>
          </div>
         
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-info">
                <h4 class="card-title ">Genset Details List</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-info ">
                      <th>
                        
                      </th>
                      <th class="tableCuspad">
                        Genset Name
                      </th>
                      <th class="tableCuspad">
                        Genset make
                      </th>
                      <th class="tableCuspad">
                        Version
                      </th>
                      <th class="tableCuspad">
                        Date
                      </th>
                      <th class="tableCuspad">
                        Oil Pressure
                      </th>
                      <th class="tableCuspad">
                        Coolent Temp
                      </th>
                      <th class="tableCuspad">
                        Low Oil
                      </th>
                      <th class="tableCuspad">
                        Low / high coolent
                      </th>
                      <th class="tableCuspad">
                        Action
                      </th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let genset of gensetTable">
                        <td > 
                          <img class="img" style="width:3rem" src={{genset.img}} />
                        </td>
                        <td>
                        {{genset.gensetName}}  
                        </td>
                        <td>
                          {{genset.gensetMake}}  
                        </td>
                        <td class="text-center">
                        {{genset.version}}  
                        </td>
                        <td>
                          {{genset.date}}  
                        </td>
                        <td class="text-center"> 
                            {{genset.oilPressure}}  
                        </td>
                        <td class="text-center"> 
                          {{genset.coolentTemp}}  
                        </td>
                        <td *ngIf="genset.lowOil == true " class="text-success text-center">
                          <i class="material-icons">fiber_manual_record</i>
                        </td>
                        <td *ngIf="genset.lowOil == false "  class="text-danger text-center">
                          <i class="material-icons">fiber_manual_record</i>
                        </td>
                        <td *ngIf="genset.low_HighCoolent == true " class="text-success text-center">
                          <i class="material-icons">fiber_manual_record</i>
                        </td>
                        <td  *ngIf="genset.low_HighCoolent == false "  class="text-danger text-center">
                          <i class="material-icons">fiber_manual_record</i>
                        </td>
                        <td class="text-danger">
                        <a href="user/dashboard/genset_detail"class="btn btn-info btn-round">View</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card">
              <div class="card-header card-header-tabs card-header-primary">
                <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                    <h4 class="card-title ">Genset Details List</h4>
                 </div>
                </div>
              </div>
              <div class="card-body">
                <div class="tab-content pt-3">
                  <div class="card card-profile">
                    <div class="card-avatar">
                      <a >
                        <img class="img" src="../../assets/gen.png" />
                      </a>
                    </div>
                    <div class="card-body">
                      <h6 class="card-category text-gray">Genset Detail</h6>
                      <div class="card-body table-responsive">
                        <table class="table table-hover">
                          <tbody >
                            <tr>
                              <td class="text-left text-primary">Genset Name</td>
                              <td class="text-right">Test-A</td>
                            </tr>
                            <tr>
                              <td class="text-left text-primary">Make</td>
                              <td class="text-right">Test-B</td>
                            </tr>
                            <tr>
                              <td class="text-left text-primary">Controller Version</td>
                              <td class="text-right">Test-C</td>
                            </tr>
                            <tr>
                              <td class="text-left text-primary">Location</td>
                              <td class="text-right">Test-D</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- <a href="javascript:;" class="btn btn-primary btn-round">Follow</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card">
              <div class="card-header card-header-warning">
                <h4 class="card-title ">Genset Chart</h4>
              </div>
              <div class="card-body table-responsive">
                <div style="display: block;">
                  <canvas baseChart 
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType">
                  </canvas>
                </div>
                <!-- <div style="display: block;">
                  <nga-ng2-gauge 
                  [max]="max"
                  [factor]='300'
                  [light]='9000'
                  unit='paul'
                  [input]="8000"  [sectors]="sectors"
                  [showDigital]="true">
                </nga-ng2-gauge>
                
      </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <footer class="footer">
      <div class="container-fluid">
        <nav class="float-left">
          <ul>
            <li>
              <a href="https://flixirsolutions.com/">
                flixir solutions
              </a>
            </li>
            <li>
              <a href="https://flixirsolutions.com/">
                About Us
              </a>
            </li>
            <li>
              <a href="https://flixirsolutions.com/">
                Blog
              </a>
            </li>
            <li>
              <a href="https://flixirsolutions.com/">
                Licenses
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright float-right">
          &copy;2020, made with <i class="material-icons">favorite</i> by
          <a >Test Company</a> for a better web.
        </div>
      </div>
    </footer>
  </div>
</div>