<div class="container-fluid">
  <form
    [formGroup]="experience_details"
    aria-autocomplete="none"
    autocomplete="off"
  >
    <div class="row">
      <div class="card">
        <div class="card-header card-header-tabs card-header-info">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <h5 class="card-title">Experience Details</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 ml-4 pt-1">
            <mat-form-field class="example-full-width">
              <mat-label>5.1 Employment (Present/Past) </mat-label>
              <select
                id="emp_present_past"
                formControlName="emp_present_past"
                name="emp_present_past"
                matNativeControl
              >
                <option value=""></option>
                <option value="Present">Present</option>
                <option value="Past">Past</option>
              </select>
              <mat-error *ngIf="experience_details.get('emp_present_past').hasError('required')">
                Select is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="offset-md-1 col-md-5 pt-1 pl-0">
            <mat-form-field class="example-full-width">
              <mat-label>5.2 Whether selected from MPSC ? </mat-label>
              <select
                id="selected_mpsc"
                formControlName="selected_mpsc"
                name="selected_mpsc"
                matNativeControl
              >
                <option value=""></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
              <mat-error *ngIf="experience_details.get('selected_mpsc').hasError('required')">
                Select is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 ml-4 pt-1">
            <mat-form-field class="example-full-width">
              <mat-label
                >5.3 Institution / Department / Organisation
              </mat-label>
              <input
                id="organisation"
                formControlName="organisation"
                name="organisation"
                type="text"
                matInput
              />
              <mat-error *ngIf="experience_details.get('organisation').hasError('required')">
                Information is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="offset-md-1 col-md-5 pt-1 pl-0">
            <mat-form-field class="example-full-width">
              <mat-label
                >5.4 Is Office/Institute owned byGovt. of Maharashtra?
                </mat-label
              >
              <select
                id="office_inst_own_govt"
                formControlName="office_inst_own_govt"
                name="office_inst_own_govt"
                matNativeControl
              >
                <option value=""></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
              <mat-error *ngIf="experience_details.get('office_inst_own_govt').hasError('required')">
                Select is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 ml-4 pt-1">
            <mat-form-field class="example-full-width">
              <mat-label>5.5 Pay Band/ Pay Scale </mat-label>
              <input
                id="pay_scale"
                formControlName="pay_scale"
                name="pay_scale"
                type="text"
                matInput
                placeholder="1234"
                pattern="\d+"
              />
              <mat-error *ngIf="experience_details.get('pay_scale').hasError('pattern')">
                Enter a valid value 
              </mat-error>
            </mat-form-field>
          </div>
          <div class="offset-md-1 col-md-5 pt-1 pl-0">
            <mat-form-field class="example-full-width">
              <mat-label>5.6 Basic Pay </mat-label>
              <input
                id="basic_pay"
                formControlName="basic_pay"
                name="basic_pay"
                type="text"
                type="text"
                matInput
                placeholder="1234"
                pattern="\d+"
              />
              <mat-error *ngIf="experience_details.get('basic_pay').hasError('pattern')">
                Enter a valid value 
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 ml-4 pt-1">
            <mat-form-field class="example-full-width">
              <mat-label>5.7 Monthly Gross Salary </mat-label>
              <input
                id="gross_salary"
                formControlName="gross_salary"
                name="gross_salary"
                type="text"
                matInput
                placeholder="1234"
                pattern="\d+"
              />
              <mat-error *ngIf="experience_details.get('gross_salary').hasError('pattern')">
                Enter a valid value 
              </mat-error>
            </mat-form-field>
          </div>
          <div class="offset-md-1 col-md-5 pt-1 pl-0 text-center">
            <button *ngIf="showAdd" class="btn btn-info btn-round width45" (click)="addexperience_detailsMore()">
              Add
            </button>
            <button *ngIf="showUpdate" class="btn btn-info btn-round width45" (click)="updateExpriencedetail()">
              Update
            </button>
          </div>
          
        </div>
        <div class="row">
          <div class="col-md-12 pt-0">
            <div class="card-body pt-0">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-info">
                    <th>Sr. No.</th>
                    <th>Organisation</th>
                    <th>MPSC Selection</th>
                    <th>Pay Scale</th>
                    <th>Basic Pay</th>
                    <th>Monthly Gross</th>
                    <th>Action</th>
                  </thead>
                  <tbody>
                    <tr  *ngFor="let Exp of expriencesList">
                      <td>{{Exp.exprience_id}}</td>
                      <td>{{Exp.organisation}}</td>
                      <!-- <td>No</td> -->
                      <td>{{Exp.selected_mpsc}}</td>
                      <td>{{Exp.pay_scale}}</td>
                      <td>{{Exp.basic_pay}}</td>
                      <td>{{Exp.gross_salary}}</td>
                      <td> <button class="btn btn-info btn-sm btn-round" (click)="edit(Exp.exprience_id)">
                        Edit
                      </button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6 text-left">
        <button class="btn btn-info btn-round " (click)="functionPrevious()">Previous</button>
      </div>
      <div class="col-md-6 text-right ">
        <button class="btn btn-info btn-round "(click)="functionNext()">Continue Next</button>
      </div>
    </div>
  </form>
</div>
