<div class="container-fluid">
  <form [formGroup]="experience_details" aria-autocomplete="none" autocomplete="off">
  <div class="row">
    <div class="card">
      <div class="card-header card-header-tabs card-header-info">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <h5 class="card-title">Experience Details</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 ml-5 pt-3">
          <mat-form-field class="example-full-width">
            <mat-label>5.1 Employment (Present/Past) </mat-label>
            <select id="emp_present_past" formControlName="emp_present_past" name="emp_present_past" matNativeControl required>
              <option value=""></option>
              <option value="Present">Present</option>
              <option value="Past">Past</option>
            </select>
          </mat-form-field>
        </div>
        <div class="offset-md-1 col-md-5 pt-3 pl-0">
          <mat-form-field class="example-full-width">
            <mat-label>5.2 Whether selected from MPSC ? </mat-label>
            <select id="selected_mpsc" formControlName="selected_mpsc" name="selected_mpsc" matNativeControl required>
              <option value=""></option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 ml-5 pt-3">
          <mat-form-field class="example-full-width">
            <mat-label>5.3 Institution / Department / Organisation </mat-label>
            <input id="organisation" formControlName="organisation" name="organisation" type="date" matInput placeholder="31/12/2021" />
          </mat-form-field>
        </div>
        <div class="offset-md-1 col-md-5 pt-3 pl-0">
          <mat-form-field class="example-full-width">
            <mat-label
              >5.4 Is Office/Institute owned byGovt. of Maharashtra?
              *</mat-label
            >
            <select  id="office_inst_own_govt" formControlName="office_inst_own_govt" name="office_inst_own_govt" matNativeControl required>
              <option value=""></option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 ml-5 pt-3">
          <mat-form-field class="example-full-width">
            <mat-label>5.5 Pay Band/ Pay Scale </mat-label>
            <input id="pay_scale" formControlName="pay_scale" name="pay_scale" type="text" matInput placeholder="1234" />
          </mat-form-field>
        </div>
        <div class="offset-md-1 col-md-5 pt-3 pl-0">
          <mat-form-field class="example-full-width">
            <mat-label>5.6 Basic Pay </mat-label>
            <input id="basic_pay" formControlName="basic_pay" name="basic_pay" type="text" type="text" matInput placeholder="1234" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 ml-5 pt-3">
          <mat-form-field class="example-full-width">
            <mat-label>5.7 Monthly Gross Salary </mat-label>
            <input id="gross_salary" formControlName="gross_salary" name="gross_salary" type="text" matInput placeholder="1234" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pt-3">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-info">
                  <th>SlNo.</th>
                  <th>Institution / Department / Organisation</th>
                  <th>Is Office/Institute owned byGovt. of Maharashtra</th>
                  <th>Pay Band/ Pay Scale</th>
                  <th>Basic Pay</th>
                  <th>Monthly Gross</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  <tr>
                      <td>01</td>
                      <td>ASDFC</td>
                      <td>No</td>
                      <td>ASHKIY H</td>
                      <td>45000</td>
                      <td>55000</td>
                      <td>remove</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
