
<div class="container-fluid">
    <div class="row">
        <div class="card p-2 mt-3" >
            <div class="card-header card-header-tabs card-header-info" >
                <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                    <h5 class="card-title"> Aadhaar Deatils </h5>
                  </div>
                </div>
            </div>
            <div class="col-md-12 pt-3">
                <span class="textNote"> Note: Please fill the aadhaar if available </span>
            </div>
        </div>
        <div class="card p-2 mt-3" >
            <div class="card-header card-header-tabs card-header-info" >
                <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                    <h5 class="card-title"> Personal Deatils </h5>
                  </div>
                </div>
            </div>

        </div>
        <div class="card p-2 mt-3" >
            <div class="card-header card-header-tabs card-header-info" >
                <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                    <h5 class="card-title"> Physical Deatils </h5>
                  </div>
                </div>
            </div>

        </div>
        <div class="card p-2 mt-3" >
            <div class="card-header card-header-tabs card-header-info" >
                <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                    <h5 class="card-title"> Caste / Category Deatils </h5>
                  </div>
                </div>
            </div>

        </div>
    </div>
</div>

