<div class="container minh">
  <div class="row mt-3">
    <div class="col-md-12 pl-0 pr-0">
      <div class="row">
        <div class="col-md-3">
          <div class="card mt-2">
            <button class="btn btn-info btn-round ml-3 mr-3 mt-3 mb-3">
              New User Registration
            </button>
            <div class="row brtop pl-3 pr-3 pt-0">
                <h4 class="mt-2"> User login</h4>
                <mat-form-field class="example-full-width">
                    <mat-label>User Name *</mat-label>
                    <input type="text" matInput  placeholder="eg. Paul">
                  </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Password *</mat-label>
                    <input type="password" matInput  placeholder="Pass@123">
                  </mat-form-field>
              
            </div>
            <button class="btn btn-info btn-round ml-5 mr-5 mt-2 mb-3">
                Login
              </button>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card mt-2">
            <button class="btn btn-info btn-round ml-3 mr-3">
              New User Registration
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
